
h2 {
  text-align: center;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.cart-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
